In [169]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [170]:
train= pd.read_csv(r'C:\Users\Ahana Drall\Desktop\train.csv')

In [171]:
test=pd.read_csv(r'C:\Users\Ahana Drall\Desktop\test.csv')

In [172]:
train.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [173]:
train.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'subscribed'],
      dtype='object')

In [174]:
test.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,38441,32,services,married,secondary,no,118,yes,no,cellular,15,may,20,6,-1,0,unknown
1,40403,78,retired,divorced,primary,no,2787,no,no,telephone,1,jul,372,1,-1,0,unknown
2,3709,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown
3,37422,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown
4,12527,45,blue-collar,divorced,secondary,no,-705,no,yes,unknown,3,jul,111,1,-1,0,unknown

In [175]:
test.isnull().sum()

ID           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [176]:
train.isnull().sum()

ID            0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
subscribed    0
dtype: int64

In [177]:
train=pd.get_dummies(train)

In [178]:
test=pd.get_dummies(test)

In [179]:
train.shape

(31647, 54)

In [180]:
test.shape

(13564, 52)

In [181]:
train.dtypes

ID                     int64
age                    int64
balance                int64
day                    int64
duration               int64
campaign               int64
pdays                  int64
previous               int64
job_admin.             uint8
job_blue-collar        uint8
job_entrepreneur       uint8
job_housemaid          uint8
job_management         uint8
job_retired            uint8
job_self-employed      uint8
job_services           uint8
job_student            uint8
job_technician         uint8
job_unemployed         uint8
job_unknown            uint8
marital_divorced       uint8
marital_married        uint8
marital_single         uint8
education_primary      uint8
education_secondary    uint8
education_tertiary     uint8
education_unknown      uint8
default_no             uint8
default_yes            uint8
housing_no             uint8
housing_yes            uint8
loan_no                uint8
loan_yes               uint8
contact_cellular       uint8
contact_telephone      uint8
contact_unknown        uint8
month_apr              uint8
month_aug              uint8
month_dec              uint8
month_feb              uint8
month_jan              uint8
month_jul              uint8
month_jun              uint8
month_mar              uint8
month_may              uint8
month_nov              uint8
month_oct              uint8
month_sep              uint8
poutcome_failure       uint8
poutcome_other         uint8
poutcome_success       uint8
poutcome_unknown       uint8
subscribed_no          uint8
subscribed_yes         uint8
dtype: object

In [182]:
x_train=train.drop(['subscribed_yes','subscribed_no'], axis=1)

In [183]:
y_train=train['subscribed_yes']

In [184]:
x_train.head(60)

,ID,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,26110,56,1933,19,44,2,-1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,40576,31,3,20,91,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,15320,27,891,18,240,1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,43962,57,3287,22,867,1,84,3,0,0,...,1,0,0,0,0,0,0,0,1,0
4,29842,31,119,4,380,1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,29390,33,0,2,116,3,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,40444,56,1044,3,353,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,40194,50,1811,8,97,4,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
8,29824,45,1951,4,692,1,-1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,44676,35,1204,3,789,2,-1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
10,14699,36,0,15,687,7,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,30180,35,-151,5,96,2,-1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
12,28024,44,237,28,212,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,480,39,1877,6,185,1,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
14,3260,43,960,15,436,1,-1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
15,9701,41,260,6,75,1,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
16,2843,53,719,14,230,1,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
17,30489,64,6251,5,125,7,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,35310,44,4031,7,983,4,-1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
19,38291,48,501,15,12,5,-1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
20,4554,60,328,20,72,5,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
21,12156,29,507,20,20,33,-1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
22,16755,30,78,24,132,1,-1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
23,14731,39,285,15,838,3,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,40057,42,684,4,207,1,-1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
25,20722,31,4720,13,460,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,9934,60,17413,9,200,1,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
27,2730,33,184,13,109,4,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
28,30448,45,858,5,617,4,251,2,0,0,...,0,0,0,0,0,0,1,0,0,0
29,30566,53,80,5,230,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30,8653,31,-205,3,56,12,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
31,30574,39,0,6,13,8,9,2,0,0,...,0,0,0,0,0,0,0,1,0,0
32,1352,46,-768,8,194,3,-1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
33,14133,35,0,11,71,3,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,26297,30,3750,20,124,1,-1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
35,30741,32,2770,6,44,9,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
36,45155,63,3738,9,301,1,456,4,0,0,...,0,0,0,1,0,0,1,0,0,0
37,11484,47,823,19,191,3,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
38,4341,49,279,19,168,4,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
39,30595,31,13,6,1019,2,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
40,8153,52,218,2,490,12,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
41,41042,68,2301,14,90,3,120,1,0,0,...,0,0,0,0,0,0,1,0,0,0
42,5137,31,589,21,151,1,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
43,6807,33,580,28,36,1,-1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
44,42243,32,1331,12,126,1,92,5,0,0,...,0,0,0,1,0,0,1,0,0,0
45,11760,47,1917,20,39,2,-1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
46,29317,27,0,2,168,1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47,18123,52,147,30,90,4,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48,39672,27,274,27,283,1,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
49,11517,53,2955,19,605,1,-1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
50,35993,26,354,8,282,5,347,5,1,0,...,0,0,1,0,0,0,0,1,0,0
51,25061,45,1678,18,187,1,154,1,0,1,...,0,0,0,1,0,0,1,0,0,0
52,6216,58,-71,27,114,1,-1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
53,27503,38,1973,21,155,2,-1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
54,39213,33,139,18,732,2,291,5,0,1,...,0,0,1,0,0,0,1,0,0,0
55,22206,57,2109,21,107,6,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56,32833,52,340,17,463,1,344,1,1,0,...,0,0,0,0,0,0,1,0,0,0
57,25258,38,605,18,147,2,-1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
58,28771,32,604,30,410,2,196,2,0,1,...,0,0,0,0,0,0,0,1,0,0
59,32351,54,3170,16,140,2,324,4,0,1,...,0,0,0,0,0,0,1,0,0,0

In [185]:
y_train.head(60)

0     0
1     0
2     0
3     1
4     0
5     0
6     1
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    1
24    1
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    1
40    0
41    0
42    0
43    0
44    1
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    1
55    0
56    0
57    0
58    0
59    0
Name: subscribed_yes, dtype: uint8

In [186]:
x_train.shape

(31647, 52)

In [187]:
from sklearn.model_selection import train_test_split

In [188]:
x_tra, x_val, y_tra, y_val=train_test_split(x_train, y_train, test_size=0.2, random_state=12)

In [189]:
from sklearn.linear_model import LogisticRegression

In [190]:
test.shape

(13564, 52)

In [191]:
logreg=LogisticRegression()

In [192]:
logreg.fit(x_tra, y_tra)

C:\Users\Ahana Drall\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [193]:
pred=logreg.predict(x_val)

In [194]:
pred

array([0, 0, 0, ..., 1, 0, 0], dtype=uint8)

In [195]:
logreg.score(x_tra, y_tra)

0.9044120551408145

In [196]:
logreg.score(x_val, y_val)

0.9048973143759874

In [197]:
prediction=logreg.predict(test)

In [198]:
prediction

array([0, 0, 0, ..., 0, 1, 0], dtype=uint8)

In [199]:
df=pd.DataFrame(prediction)

In [200]:
df['ID']=test['ID']
df['subscribed']=prediction

In [201]:
df['subscribed'].replace(0, 'no',inplace=True )

In [202]:
df['subscribed'].replace(1, 'yes', inplace=True)

In [206]:
df.to_csv('submission1.csv')